/*Globals*/
/*Fonts*/
/*colors*/
/*Spacing*/
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: "Inter", sans-serif; }

a {
  text-decoration: none;
  color: black; }

h2 {
  font-size: 3.5em;
  font-weight: 400;
  text-align: center; }

b {
  font-size: 2em; }

figcaption {
  margin-top: 1.5rem;
  text-align: center;
  font-size: 1.5em; }

ul {
  list-style-type: none; }

.img-blur img {
  filter: blur(0px);
  transition: ease 2s; }

.img-blur img:hover {
  filter: blur(2px);
  cursor: pointer; }

img {
  width: 100%;
  height: 100%; }

.container {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 4rem;
  margin-bottom: 4rem; }

/*Partials*/
/*Customize header*/
#header {
  background-color: #C9C9C9;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0.2em 0; }
  #header .container-logo {
    display: flex;
    align-items: center;
    gap: 3rem;
    padding-left: 4rem; }
    #header .container-logo .header__logo {
      width: 7.5rem;
      height: 7.5rem;
      padding: 10px;
      border-radius: 20px;
      background-color: black;
      overflow: hidden; }
    #header .container-logo .header__page-name {
      font-size: 4.5em;
      letter-spacing: 0.2em;
      font-weight: 400; }
  #header .header__menu {
    padding-right: 4rem; }
    #header .header__menu .menu {
      display: flex;
      gap: 4rem; }
      #header .header__menu .menu__link, #header .header__menu .menu__link--othercolor {
        display: block;
        font-size: 2em;
        padding: 1.5rem;
        border-bottom: 2px solid #C9C9C9;
        transition: border-bottom 1s ease; }
        #header .header__menu .menu__link--othercolor {
          color: #641b1b; }
      #header .header__menu .menu__link:hover, #header .header__menu .menu__link--othercolor:hover {
        border-bottom-color: black; }

/*Customize footer*/
#pie {
  width: 100%;
  background-color: #C9C9C9;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 10rem;
  align-items: center;
  justify-items: center;
  margin-top: auto; }
  #pie .red-social {
    display: inline-block; }
    #pie .red-social div {
      width: 40px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      border-radius: 5px;
      background-color: #D9D9D9;
      transition: background-color 500ms ease, border-radius 1s ease; }
    #pie .red-social span {
      font-size: 1em; }
    #pie .red-social a:hover div {
      background-color: #FCFFC8;
      border-radius: 20px; }
  #pie .back-to-top a {
    padding: 0.2em;
    border: 1px solid black;
    border-radius: 7px;
    background-color: #D9D9D9;
    transition: background-color 500ms ease; }
  #pie .back-to-top a:hover {
    background-color: #FCFFC8; }

/*Views*/
/*customize home*/
.container.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10rem; }
  .container.home .container-items {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .container.home .container-items .section-title {
      letter-spacing: 0.3em; }
    .container.home .container-items .section-descript {
      text-align: center; }
    .container.home .container-items .items-inicio {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 13rem; }
      .container.home .container-items .items-inicio .prod-img {
        overflow: hidden;
        width: 350px;
        height: 400px;
        border-style: double;
        border-radius: 3rem; }
    .container.home .container-items .variety-buttom {
      font-size: 1.5em;
      text-align: center;
      padding: 0.2rem 1.1rem;
      margin: 0.5rem;
      border: 1px solid white;
      border-bottom-color: black;
      transition: all 200ms; }
      .container.home .container-items .variety-buttom:hover {
        border-radius: 10px;
        border: 1px solid black; }

/*Customize productos*/
.container.prod {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
  gap: 15rem; }
  .container.prod .gird-prod {
    display: grid;
    grid-template-columns: [x0] 1fr [x1] 1fr [x2] 1fr [x3] 1fr [x4];
    grid-template-rows: [y0] auto [y1] auto [y2];
    justify-items: center;
    row-gap: .5rem;
    column-gap: 2rem; }
    .container.prod .gird-prod .titles-prod {
      position: relative;
      letter-spacing: 0.3em;
      left: 9rem;
      grid-column: x0 / x4;
      grid-row: y0 / y1;
      justify-self: start; }
    .container.prod .gird-prod .article-1 {
      grid-row: y1/y2;
      grid-column: x0/x1; }
    .container.prod .gird-prod .article-2 {
      grid-row: y1/y2;
      grid-column: x1/x2; }
    .container.prod .gird-prod .article-3 {
      grid-row: y1/y2;
      grid-column: x2/x3; }
    .container.prod .gird-prod .article-4 {
      grid-row: y1/y2;
      grid-column: x3/x4; }
  .container.prod #mate .prod-img {
    overflow: hidden;
    width: 300px;
    height: 300px;
    border-style: solid;
    border-radius: 2rem;
    border-width: 0.2rem; }
  .container.prod #termo .prod-img {
    overflow: hidden;
    width: 300px;
    height: 400px;
    border-style: solid;
    border-radius: 2rem;
    border-width: 0.2rem; }
  .container.prod #yerba .flex-yerba {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .container.prod #yerba .prod-img {
    overflow: hidden;
    width: 300px;
    height: 300px;
    border-style: solid;
    border-radius: 2rem;
    border-width: 0.2rem; }

/*customize promociones*/
.container .titles-promo {
  display: inline-block;
  position: relative;
  letter-spacing: 0.3em;
  left: 7rem;
  text-align: left; }

.container .promos {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7rem; }
  .container .promos .articles {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10rem; }
    .container .promos .articles .img-blur {
      overflow: hidden;
      width: 400px;
      height: 400px;
      border-style: solid;
      border-radius: 5px; }
    .container .promos .articles .elements {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      row-gap: 10rem;
      column-gap: 5rem; }
      .container .promos .articles .elements .img-blur {
        overflow: hidden;
        width: 200px;
        height: 200px;
        border-style: double;
        border-radius: 5px; }
      .container .promos .articles .elements figcaption {
        text-decoration: underline; }
  .container .promos hr {
    width: 200%;
    height: 2px; }

/*Customize envios*/
.container .envios {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .container .envios .formulario {
    width: 60%; }
    .container .envios .formulario .marco {
      padding: 2rem; }
      .container .envios .formulario .marco .title-form {
        font-size: 2em; }
      .container .envios .formulario .marco label {
        font-size: 1.5em; }
  .container .envios p {
    font-size: 2em;
    margin: 4rem 0 1.5rem 0; }

/*Customize Contacto*/
.container.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem; }
