@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root{
    --text-large: 5em;
    --text-medium: 3.5em;
    --text-small: 2em;
    --text-xsmall: 1.2em;
}


/*Global styles*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
}

a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}

h1, h2{
    font-size: var(--text-large);
    font-weight: 400;
    line-height: 6.1rem;
}

h2{
    letter-spacing: 0.3em;
}

em{
    font-size: var(--text-small);
}

/*Inicio header*/

#header{
    display: flex;
    background-color: #d9d9d9;
    align-items: center;
    justify-content: space-around;
    padding: 1rem 0;
    position: sticky;
    top: 0rem;
}

.header__page-name{
    font-size: 5em;
}

.header__logo{
    padding: 10px 15px;
    border-radius: 20px;
    background-color: black;
}

.menu{
    display: flex;
    gap: 7rem;
    list-style: none;
}

.menu__link{
    font-size: 3.5em;
    border-bottom: 0.2rem solid #d9d9d9;
    padding: 1.5rem;
    transition: all 1s;
}

.menu__link:hover{
    border-bottom-color: black;
}

/*Main*/

.container{
    display: flex;
    flex-direction: column;
    gap: 10rem;
}

.container-items{
    display: flex;
    flex-direction: column;
    align-items: center;
}


figure img{
    width: 250px;
    height: 250px;
}

.mate{
    width: 23rem;
}

.variety-buttom{
    font-size: var(--text-xsmall);
    text-align: center;
    width: 14.5rem;
    padding: 0.1rem 0.5rem;
    margin: 0.5rem;
    border-bottom: 1px solid black;
    transition: all 200ms;
}

.variety-buttom:hover{
    border-radius: 10px;
    border: 1px solid black;
}

/*Inicio Pie*/

#pie{
    position: relative;
    bottom: 0rem;
    font-size: 2rem;
    background-color: #d9d9d9;
}

#pie > div{
    display: inline-block;
    margin: 3rem;
}

.back-to-top{
    padding: 1rem;
    overflow: hidden;
}

.back-to-top>a{
    background-color: #d9d9d9;
    padding: 0.5rem;
    border-radius: 10px;
    border-style: groove;
}

.prod-img{
    display: inline-block;
    margin: 0.5rem 2rem;
    border-style: double;
    border-radius: 3rem;
    overflow: hidden;
}