@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root{
    --text-large: 5em;
    --text-medium: 3.5em;
    --text-small: 2em;
    --text-xsmall: 1.2em;
}


/*Global styles*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
}

a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}

h1, h2{
    font-size: var(--text-large);
    font-weight: 400;
    line-height: 6.1rem;
}

h2{
    letter-spacing: 0.3em;
}

em{
    font-size: var(--text-small);
}

/*Inicio header*/

#header{
    background-color: #d9d9d9;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0rem;
}

.container-logo{
    display: flex;
    align-items: center;
    gap: 2.5rem;
    padding-left: 3rem;
}

.header__menu{
    padding-right: 3rem;
}

.header__page-name{
    font-size: 5em;
}

.header__logo{
    padding: 10px 15px;
    border-radius: 20px;
    background-color: black;
}

.menu{
    display: flex;
    gap: 1.7rem;
    list-style: none;
}

.menu__link{
    font-size: 3.5em;
    border-bottom: 0.2rem solid #d9d9d9;
    padding: 1rem;
    transition: all 1s;
}

.menu__link:hover{
    border-bottom-color: black;
}

/*Main*/

.container{
    display: flex;
    flex-direction: column;
    gap: 10rem;
}

.container-items{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mate{
    width: 23rem;
}

.variety-buttom{
    font-size: var(--text-xsmall);
    text-align: center;
    width: 14.5rem;
    padding: 0.1rem 0.5rem;
    margin: 0.5rem;
    border-bottom: 1px solid black;
    transition: all 200ms;
}

.variety-buttom:hover{
    border-radius: 10px;
    border: 1px solid black;
}

.items-inicio{
    display: flex;
    gap: 13rem;
}

.prod-img{
    border-style: double;
    border-radius: 3rem;
    overflow: hidden;
}

figure img{
    max-width: 100%;
    max-height: 100%;
    width: 300px;
    height: 300px;
}

figcaption{
    text-align: center;
    font-size: 1.5em;
}

/*GRID*/

.container-prod{
    display: flex;
    flex-direction: column;
    gap: 12rem;
}

#mate, #termo, #yerba{
    display: grid;
    grid-template-columns: [x0] 1fr [x1] 1fr [x2] 1fr [x3] 1fr [x4];
    grid-template-rows: [y0] auto [y1] auto [y2];
    justify-items: center;
    row-gap: 1.5rem;
}

.title-mate{
    margin-top: 3rem;
}

.title-mate, .title-termo, .title-yerba{
    position: relative;
    left: 9rem;
    grid-column: x0 / x4;
    grid-row: y0 / y1;
    justify-self: start;
}

.mate-1, .termo-1, .yerba-1{
    grid-row: y1/y2;
    grid-column: x0/x1;
}

.mate-2, .termo-2, .yerba-2{
    grid-row: y1/y2;
    grid-column: x1/x2;
}

.mate-3, .termo-3, .yerba-3{
    grid-row: y1/y2;
    grid-column: x2/x3;
}

.mate-4, .termo-4, .yerba-4{
    grid-row: y1/y2;
    grid-column: x3/x4;
}

/*Inicio Pie*/

#pie{
    position: relative;
    bottom: 0rem;
    font-size: 2rem;
    background-color: #d9d9d9;
}

#pie > div{
    display: inline-block;
    margin: 3rem;
}

.back-to-top{
    padding: 1rem;
    overflow: hidden;
}

.back-to-top>a{
    background-color: #d9d9d9;
    padding: 0.5rem;
    border-radius: 10px;
    border-style: groove;
}

/*RESPONSIVE*/

@media screen and (max-width: 1450px){
    #header{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    .header__menu{
        padding-right: 0rem;
    }

    .menu{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }

    #mate, #termo, #yerba{
        display: grid;
        grid-template-columns: [x0] 1fr [x1] 1fr [x2];
        grid-template-rows: [y0] auto [y1] auto [y2] auto [y3];
        justify-items: center;
        row-gap: 1.5rem;
    }
    
    .title-mate, .title-termo, .title-yerba{
        grid-column: x0 / x2;
        grid-row: y0 / y1;
        justify-self: start;
    }
    
    .mate-1, .termo-1, .yerba-1{
        grid-row: y1/y2;
        grid-column: x0/x1;
    }
    
    .mate-2, .termo-2, .yerba-2{
        grid-row: y1/y2;
        grid-column: x1/x2;
    }
    
    .mate-3, .termo-3, .yerba-3{
        grid-row: y2/y3;
        grid-column: x0/x1;
    }
    
    .mate-4, .termo-4, .yerba-4{
        grid-row: y2/y3;
        grid-column: x1/x2;
    }
}

@media screen and (max-width: 950px){
    #header{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .header__menu{
        /* padding-right: 0rem; */
    }

    .menu{
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        padding-right: 3.5rem;

    }

    .menu__link{
        font-size: 1.5em;
        padding: 0.2rem;
    }
}

@media screen and (max-width: 750px){
    .items-inicio{
        flex-direction: column;
        gap: 1rem;
    }
}