@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root{
    --text-large: 5em;
    --text-medium: 3.5em;
    --text-small: 2em;
    --text-xsmall: 1.2em;
}


/*Global styles*/

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1, h2{
    font-size: var(--text-large);
    font-weight: 400;
}

h2{
    letter-spacing: 0.3em;
}

em{
    font-size: var(--text-small);
}

/*Main*/

.container{
    display: flex;
    flex-direction: column;
    gap: 10rem;
}

.container-items{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mate{
    width: 23rem;
}

.variety-buttom{
    font-size: var(--text-xsmall);
    text-align: center;
    width: 14.5rem;
    padding: 0.1rem 0.5rem;
    margin: 0.5rem;
    border-bottom: 1px solid black;
    transition: all 200ms;
}

.variety-buttom:hover{
    border-radius: 10px;
    border: 1px solid black;
}

.items-inicio{
    display: flex;
    gap: 13rem;
}

.prod-img{
    width: 300px;
    height: 300px;
    border-style: double;
    border-radius: 3rem;
    overflow: hidden;
}

.prod-img img{
    width: 100%;
    height: 100%;
}

figcaption{
    text-align: center;
    font-size: 1.5em;
}

/*GRID*/

.container-prod{
    display: flex;
    flex-direction: column;
    gap: 12rem;
}

#mate, #termo, #yerba{
    display: grid;
    grid-template-columns: [x0] 1fr [x1] 1fr [x2] 1fr [x3] 1fr [x4];
    grid-template-rows: [y0] auto [y1] auto [y2];
    justify-items: center;
    row-gap: 1.5rem;
}

.title-mate{
    margin-top: 3rem;
}

.title-mate, .title-termo, .title-yerba{
    position: relative;
    left: 9rem;
    grid-column: x0 / x4;
    grid-row: y0 / y1;
    justify-self: start;
}

.mate-1, .termo-1, .yerba-1{
    grid-row: y1/y2;
    grid-column: x0/x1;
}

.mate-2, .termo-2, .yerba-2{
    grid-row: y1/y2;
    grid-column: x1/x2;
}

.mate-3, .termo-3, .yerba-3{
    grid-row: y1/y2;
    grid-column: x2/x3;
}

.mate-4, .termo-4, .yerba-4{
    grid-row: y1/y2;
    grid-column: x3/x4;
}

.prod-img img{
    filter: blur(0px);
    transition: all 2s;
}

.prod-img img:hover{
    filter: blur(5px);
}

/*RESPONSIVE*/

@media screen and (max-width: 1450px){
    #header{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    .header__menu{
        padding-right: 0rem;
    }

    .menu{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }

    #mate, #termo, #yerba{
        display: grid;
        grid-template-columns: [x0] 1fr [x1] 1fr [x2];
        grid-template-rows: [y0] auto [y1] auto [y2] auto [y3];
        justify-items: center;
        row-gap: 1.5rem;
    }
    
    .title-mate, .title-termo, .title-yerba{
        grid-column: x0 / x2;
        grid-row: y0 / y1;
        justify-self: start;
    }
    
    .mate-1, .termo-1, .yerba-1{
        grid-row: y1/y2;
        grid-column: x0/x1;
    }
    
    .mate-2, .termo-2, .yerba-2{
        grid-row: y1/y2;
        grid-column: x1/x2;
    }
    
    .mate-3, .termo-3, .yerba-3{
        grid-row: y2/y3;
        grid-column: x0/x1;
    }
    
    .mate-4, .termo-4, .yerba-4{
        grid-row: y2/y3;
        grid-column: x1/x2;
    }
}

@media screen and (max-width: 950px){
    #header{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .header__menu{
        /* padding-right: 0rem; */
    }

    .menu{
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        padding-right: 3.5rem;

    }

    .menu__link{
        font-size: 1.5em;
        padding: 0.2rem;
    }
}

@media screen and (max-width: 750px){
    .items-inicio{
        flex-direction: column;
        gap: 1rem;
    }
}

@media screen and (max-width: 660px) {
    .header__logo{
        width: 6rem;
        height: 6rem;
        padding: 0.5rem;
        border-radius: 15px;
        background-color: black;
    }
    
    .header__logo img{
        height: 100%;
        width: 100%;
        overflow: hidden;
    }

    .container-logo{
        gap: 2rem;
        padding-left: 1rem;
    }

    .header__page-name{
        font-size: 3.5em;
        letter-spacing: 0.3em;
    }

    #header{
        flex-direction: column;
        justify-content: center;
    }

    #termo, #mate, #yerba{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .title-mate, .title-termo, .title-yerba{
        left: 0;
    }

    #pie{
        font-size: 1em;
    }

    #pie > div{
        margin: 1rem;
    }

    .section-title{
        font-size: 4em;
        text-align: center;
    }
}