/*Customize header*/
#header{
    background-color: $primary-color;
    width: 100%;
    @include flex(row, center, space-between);
    flex-wrap: wrap;
    padding: $spacing-letters 0;

    .container-logo{
        @include flex(null, center, null);
        gap: 3rem;
        padding-left: $small-spacing;

        .header__logo{
            width: 7.5rem;
            height: 7.5rem;
            padding: 10px;
            border-radius: 20px;
            background-color: black;
            overflow: hidden;
        }

        .header__page-name{
            font-size: map-get($fonts, xlarge-font);
            letter-spacing: $spacing-letters;
            font-weight: 400;
        }
    }

    .header__menu{
        padding-right: $small-spacing;

        .menu{
            display: flex;
            gap: $small-spacing;

            &__link{
                display: block;
                font-size: map-get($fonts, medium-font);
                padding: $xsmall-spacing;
                border-bottom: 2px solid $primary-color;
                transition: border-bottom 1s ease;
                &--othercolor{
                    @extend .menu__link;
                    color: rgb(100, 27, 27);
                }
            }

            &__link:hover{
                border-bottom-color: black;
            }
        }
    }
}

@media screen and (max-width: 1240px){
    #header{
        @include flex(column, center, null);

        .container-logo {
            gap: 1rem;

            .header__logo{
                width: 6rem;
                height: 6rem;
            }
            
            .header__page-name{
            font-size: map-get($fonts, large-font);
            }
        }

        .header__menu{
            width: 100%;
            padding: 0;

            .menu{
                @include flex(row, center, space-evenly);
                gap: .5rem;
            }
        }
    }
}

@media screen and (max-width: 600px){
    #header{
        @include flex(row, center, space-around);

        .container-logo{
            gap:$xsmall-spacing;
            padding-left: 0;
        }

        .header__menu{
            width: auto;

            .menu{
                @include flex(column, center, null);
                
                &__link{
                    font-size: map-get($fonts, small-font);
                    padding: $spacing-letters;
                }
            }
        }
    }
}

@media screen and (max-width: 550px) {
    #header{
        @include flex(column, center, null);
        gap: 2rem;

        .header__menu{
            width: 80%;

            .menu{
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr 1fr;
                justify-items: center;
                row-gap: $xsmall-spacing;
            }
        }
    }
}