/*Customize header*/
#header{
    background-color: $primary-color;
    width: 100%;
    @include flex(row, center, space-between);
    flex-wrap: wrap;
    padding: $spacing-letters 0;

    .container-logo{
        @include flex(null, center, null);
        gap: 3rem;
        padding-left: $small-spacing;

        .header__logo{
            width: 7.5rem;
            height: 7.5rem;
            padding: 10px;
            border-radius: 20px;
            background-color: black;
            overflow: hidden;
        }

        .header__page-name{
            font-size: map-get($fonts, xlarge-font);
            letter-spacing: $spacing-letters;
            font-weight: 400;
        }
    }

    .header__menu{
        padding-right: $small-spacing;

        .menu{
            display: flex;
            gap: $small-spacing;

            &__link{
                display: block;
                font-size: map-get($fonts, medium-font);
                padding: $xsmall-spacing;
                border-bottom: 2px solid $primary-color;
                transition: border-bottom 1s ease;
                &--othercolor{
                    @extend .menu__link;
                    color: rgb(100, 27, 27);
                }
            }

            &__link:hover{
                border-bottom-color: black;
            }
        }
    }
}