/*Fonts*/
$primary-font: 'Inter', sans-serif;
$fonts:(
    xlarge-font: 4.5em,
    large-font: 3.5em,
    medium-font: 2em,
    small-font: 1.5em,
    footer-font: 1.5em
);

/*colors*/
$primary-color: #C9C9C9;
$secundary-color: #D9D9D9;
$alter-color: #FCFFC8;

/*Spacing*/
$large-spacing: 13rem;
$medium-spacing: 9rem;
$small-spacing: 4rem;
$xsmall-spacing: 1.5rem;
$spacing-letters: 0.2em;